src/main/mule/download_mvp_slf_gcp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<salesforce:sfdc-config name="Salesforce_UAT_Config" doc:name="Salesforce Config" doc:id="a6473c26-8416-4193-806d-19e9cf535caf" >
		<salesforce:oauth-user-pass-connection consumerKey="3MVG9vDPWAliPr7pK1VfN5JwEIHC9xFlCM2VJ46YM2p7y0EnIiJc2dpoyYBoTmW0a7wnLdVTzTiiU72J5G.il" consumerSecret="781CC72C62AABAA2BEC977185F104B14C77C817FB02F1763A829913B464BEFA1" username="skyvia-gcp-salesforce@rimac.com.pe.uat" password="Lima123.xzIAZwEh0cjp3aXjwG8wDdn5" tokenEndpoint="https://rimac--uat.sandbox.my.salesforce.com/services/oauth2/token" />
	</salesforce:sfdc-config>
	<flow name="download_mvp_slf_gcpFlow" doc:id="471e757e-906d-4e74-ad98-d6d6b6326297" >
		<scheduler doc:name="Scheduler" doc:id="c8485f81-e9ac-48f8-af8a-b2da0ffc52ac" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="faa6d4d5-7678-4bd6-95eb-6d69d8984f05" message="HELLO WORLD"/>
		<salesforce:create-query-job-bulk-api-v2 doc:name="Create query job bulk api v 2" doc:id="aa89932c-4617-4557-a82e-dc91432a628f" config-ref="Salesforce_UAT_Config" query="SELECT Id FROM Account LIMIT 1" readTimeoutUnit="HOURS">
			<reconnect-forever />
		</salesforce:create-query-job-bulk-api-v2>
		<logger level="INFO" doc:name="Logger" doc:id="76c3ae51-b608-4be7-8185-787f84555a33" message="PAYLOAD -&gt; #[payload.id] "/>
		<set-variable value="#[payload.id] " doc:name="Set Variable" doc:id="d963b584-7fa1-4165-806d-f6f14f581938" variableName="jobIdQuery"/>
		<logger level="INFO" doc:name="Logger1" doc:id="09a0cf7b-54dc-472e-8bc1-7fd3caeb4859" message="PAYLOAD -&gt; #[vars.jobIdQuery]" />
		<until-successful maxRetries="5" doc:name="Until Successful" doc:id="e5c8904f-4994-4297-836b-1cc6073edc0e" >
			<salesforce:get-query-job-info-bulk-api-v2 doc:name="Get query job info bulk api v 2" doc:id="e849e217-a3e3-4471-bfd1-456f4897edb7" config-ref="Salesforce_UAT_Config" id="#[vars.jobIdQuery]" readTimeout="10" readTimeoutUnit="SECONDS"/>
			<logger level="INFO" doc:name="Logger2" doc:id="5e9ac920-5ccf-4f13-ae1f-3b547e2c9e9a" message="GET JOB -&gt; #[payload.state]" />
			<choice doc:name="Choice" doc:id="0c66f0b3-9297-419b-8e47-e4bcd6f345a4">
			<when expression='#[payload.state == "JobComplete"]'>
				<logger level="INFO" doc:name="Logger3" doc:id="2bbb318c-2e59-4865-9b68-f72e843b3cff" message="JobComplete" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="effc8f2d-3cbe-4b33-9f04-15e210c2be99" message="state -&gt; #[payload.state]" />
			</otherwise>
		</choice>
		</until-successful>
	</flow>
</mule>
